.vs
Cryptography/bin
Cryptography/obj
Cryptography/Keys
Cryptography/Properties
Cryptography/Cryptography.csproj.user
Cryptography.Console/bin
Cryptography.Console/obj
Cryptography.Console/Properties
Cryptography.Console/Cryptography.Console.csproj.user

